@charset "utf-8";
/* CSS Document */
a{
	font-size:14px;
	color:#690;
	font-weight:bold;
	text-decoration:none;
}

a:hover {
	font-size: 14px;
	font-weight: bold;
	color: #F5D884;
	text-decoration: underline;
}
body{
	font-size:10px;
	font-family:"宋体";
}