header{
    width: 1024px;
    height: 100px;
   /* margin-bottom: 20px; */
    overflow: hidden;
}

#h-left{
    width: 50px;
    height: 100px;
    margin-right: 5px;
    display: inline-block;
    float: left;
    padding: 20px 10px 0 10px;
    background: red;
}

.h-top,.h-middle-right{
    float: right;
}

#h-middle{
    clear: right;
}

.h-middle-left{
    float: left;
}

.h-middle-right{
    padding-top: 25px;
    margin: 2px 0;
}

.h-middle-right>button,.h-middle-right>input{
    float: right;
    border: 1px solid red;
    height: 30px;
}

.href-a{
    margin: 0 5px;
}
.href-a:hover{
    color: red;
}

#menu{
    clear: both;
    /* float: left; */
    position: relative;
    width: 1024px;
    /* left: -50px; */
    display: inline-block;
}

.menu-a{
    margin-left: 50px;
    padding: 0 20px 2px 20px;
    border-bottom: 2px red solid;
}

.menu-b{
    margin-left: 10px;
    padding: 0 20px 2px 20px;
    cursor: pointer;
}

#menu>ul{
    float: left;
}

/*#menu>ul>li{*/
/*    display: none;*/
/*}*/

/*#menu>ul:hover>li{*/
/*    display: block;*/
/*}*/

.line{
    margin: 0 20px;
    border: 2px red solid;
}

#static-img{
    clear: both;
    width: 80%;
    height: 80%;
    position: center;
    background-repeat: no-repeat;
    border-radius: 0 0 8px 8px;
    margin-bottom: 10px;
}

.body-h3{
    background-color: azure;
    float: left;
    padding: 0 5px;
    border-radius: 4px 4px 0 0;
    border-bottom: 1px solid red;
}

.body-div{
    min-width: 1024px;
    overflow: hidden;
    clear: both;
}

.more-a{
    min-width: 1024px;
    height: 20px;
    background-color: lightslategray;
    color: #ffffff;
    border-radius: 6px;
    margin: 5px 0;
}

.more-a:hover{
    background-color: red;
}

.shop-box{
    width: 250px;
    height: 350px;
    margin: 0 3px 2px 3px;
    padding: 10px;
    background-color: azure;
    float: left;
}

.shop-img{
    width: 230px;
    height: 230px;
    overflow: hidden;
    background-color: red;
    border-radius: 10px;
}

.shop-a{
    padding: 2px 4px;
    clear: both;
    float: left;
}

.shopping:active,.shopping:hover{
    color: red;
    cursor: pointer;
    border: 1px solid red;
}

/*.shopping:visited{*/
/*    color: #77777777;*/
/*}*/

footer{
    background-color: #1e1e1e;
    min-width: 1024px;
    min-height: 200px;
    padding: 32px;
    position: static;
}

.footer-box{
    float: left;
    margin: 0 100px 5px 80px;
}

.footer-a{
    font-size: 18px;
    color: #77777777;
    width: 120px;
    height: 18px;
    padding: 2px 20px;
    text-align: left;
}

.side-table{
    width: 80px;
    height: 20px;
    background: red;
    text-align: center;
    padding: 0 4px;
    position: fixed;
    right: 0;
    color: #ffffff;
    border-radius: 5px 0 0 5px;
}

.side-table-4{
    bottom: 97px;
}

.side-table-3{
    bottom: 120px;
}

.side-table-2{
    bottom: 143px;
}

.side-table-1{
    bottom: 166px;
}